<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
        <% include ../partials/header.ejs %>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <div class="container">
      <p>Login or Register with:</p>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </div>
    <div class="container">
      <% include ../partials/chart.ejs %>
    </div>
  </body>
</html>
